@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background: url('../image/bgg.jpg') no-repeat;
	background-size: cover;
}
.loginbox{
	width:290px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:black;

}

.loginbox h1{
	position: inline-block;
	top:50%;
	font-size:40px;
	border-bottom: 6px solid blue;
	margin-bottom: 50px;
	padding: 13px 0;
}

.textbox{
	width:100;
	overflow:hidden;
	font-size:20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid blue;
}
.textbox i{
	width:26px;
	float:left;
	text-align:center;
}
.textbox input{
	border:none;
	outline: none;
	background: none;
	color:white;
	font-size: 18px;
	float:left;
	width:80%;
	margin: 0 10px;
}

.tombol input{
	width:100%;
	background:none;
	border: 2px solid blue;
	color:white;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;
	fill: black;
}

